.graphEditor_svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.graphEditor_svg:not(.graphEditor_ctrl) {
  cursor: crosshair;
}

.graphEditor_svg:not(.graphEditor_ctrl) .graphEditor_edge.edge {
  cursor: pointer;
}

.graphEditor_node.node {
  cursor: pointer;
  stroke-width: 1.5px;
}

.graphEditor_node.graphEditor_reflexive.node {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

.graphEditor_nodeText.graphEditor_nodeID {
  font: 12px sans-serif;
  font-weight: bold;
  pointer-events: none;
  text-anchor: middle;
}

.graphEditor_edge.edge {
  cursor: default;
  fill: none;
  stroke: #000;
  stroke-width: 4px;
}

.graphEditor_edge.graphEditor_dragline.edge {
  pointer-events: none;
}

.graphEditor_edge.graphEditor_selected.edge {
  stroke-dasharray: 10,2;
}

.graphEditor_edge.graphEditor_hidden.edge {
  stroke-width: 0;
}